/* style for item container */
.item-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    aspect-ratio: 1 / 1;
    background-color: white;

    display: flex;

    position: relative;
}

.title-container {
    width: 100%;
    align-self: flex-end;
    display: flex;
    z-index: 2;
}

.title {
    display: block;
    width: 100%;
}

.title-box {
    transition: 0.2s;
    padding: 2rem 3rem;  
}

.title-box::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(0px);
    z-index: -1;
    border-radius: 0 0 3.125rem 3.125rem;

    transition: all 0.2s;
}

.title-box:hover::before {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
}


/* responsive settings */
@media (max-width: 1400px) {
    .title {
        font-weight: 500;
        font-size: 1.7rem;
        line-height: 1.8rem;
    }
}

@media (max-width: 1160px) {
    .title {
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .title-box {
        padding: 7% 10%;
    }

    .title-box::before {
        border-radius: 0 0 2rem 2rem;
    }
}

@media (max-width: 550px) {
    .item-container {
        border-radius: 1.2rem;
    }

    .title {
        font-size: 1rem;
        line-height: 1.2rem;
        text-align: center;
    }

    .title-box {
        padding: 10% 0;
        margin: 0 7%;
    }

    .title-box::before {
        border-radius: 0 0 1.2rem 1.2rem;
    }
}

/* hover animation */
@keyframes hover-blur {
    0% {
        background-color: rgba(255, 255, 255, 0);
        backdrop-filter: blur(0px);
    }

    100% {
        background-color: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(10px);
    }
}

