.carousel {
    width: 100%;
    margin: 5rem 0;
}

.square-fit {
    aspect-ratio: 1/1;
    object-fit: cover;
}

.card-img-top {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
