/* by brandon 6/14/2022 */
footer {
    background-color: #284D89;
    border-radius: 3.125rem 3.125rem 0 0;
    width: 100%;

    margin-top: 10rem;
    min-height: 19.375rem;

    color: #FFFFFF;
    display: flex;

    justify-content: space-between;
    flex-wrap: wrap;
}

footer .texts, footer .social-media {
    padding: 3.125rem 6.25rem;
}

footer .social-media {
    align-self: flex-end;

    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

footer .social-media .media-buttons {
    display: flex;
    gap: 0.625rem;
    flex-wrap: wrap;
}

footer .social-media a {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1.25rem;

    background-size: cover;
    background-position: center;
}

footer p, footer h4 {
    margin: 0px;
    color: #FFFFFF;
}
/* modification ends */